<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config" xsi:type="con:RestService" id="10d08192-6713-49c2-b953-7dd2916743d8" name="Delete section" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification">
  <con:settings id="8c1fab02-9a45-4bd7-8ef0-616864cf4a32">
    <con:setting id="10d08192-6713-49c2-b953-7dd2916743d8fileName">Delete-section</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="Delete section.json">
    <con:part>
      <con:url>Delete section.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"Delete section","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/api/phx-assignment-management/v1/assignment/{Assignment id}":{"description":"","delete":{"description":"","requestBody":{"content":{"application/json":{}}},"responses":{"default":{"description":"Default response"}}},"parameters":[{"name":"section","in":"query"},{"name":"Assignment id","in":"path","required":true}]}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="ca7b482c-9f9d-47cd-9dee-6e3bf47cdb75">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="6ce173f5-e51c-4b7f-9575-82621bb74596">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
