<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="0b727acc-6626-4c4d-80bf-c7874c8fe6c3" name="BACKUP">
  <con:settings id="88c11ca9-b2e1-4888-bc17-a6a1556aee8e">
    <con:setting id="7c00978c-862c-4add-a207-f052e26c6639fileName">work1</con:setting>
    <con:setting id="0b727acc-6626-4c4d-80bf-c7874c8fe6c3fileName">BACKUP</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>Attempt_BodyData</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Final_Attempt_BodyData</con:name>
      <con:value>{     "id": "1537254803",     "meta": {         "points": "100"     },     "type": "Achievement",     "quizzes": [         {             "id":0000,             "name": "Acid-Base Balance",             "questionsAnswered": 5         }     ],     "sectionId": "mastery_level",     "sectionName": "Mastery Level Assignments",     "activityName": "Acid-Base Balance",     "masteryLevel": 2,     "quizzesTaken": 1,
"startedAt": "2023-11-21T11:20:20.605Z",
 "completedAt": "2023-11-21T11:22:22.605Z",
 "sentAt": "2023-11-21T11:23:23.605Z",
"userId": "DD_userId",
"systemId": "3c39846c-886a-df11-b115-005056c00008",
"activityId": "1501294723",
 "correlationId": "567542738367545344",
 "score": "1", 
  "classIds": [
        "g111QMGA8NXRQ_s111QMGA8PCC6"
    ]
	
}</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
