<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config" xsi:type="con:RestService" id="95623d7d-d4c0-4f4d-adde-46f3c96234aa" name="Get Assignmnet details" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification">
  <con:settings id="7324604c-b881-4b2c-bdb2-baecc795140c">
    <con:setting id="95623d7d-d4c0-4f4d-adde-46f3c96234aafileName">Get-Assignmnet-details</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="Get Assignmnet details.json">
    <con:part>
      <con:url>Get Assignmnet details.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"Get Assignmnet details","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/api/phx-batch-assignment-management/v1/assignment-wrapper/assignments":{"get":{"responses":{"default":{"description":"Default response"}}}}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="6ce173f5-e51c-4b7f-9575-82621bb74596">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
