<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config" xsi:type="con:RestService" id="a8b01f80-07a3-4a7b-91a7-f5656801107d" name="Unassigned direct attempt submission history student" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification">
  <con:settings id="074889af-88b5-40e0-a2ba-1b819a8a8cea">
    <con:setting id="a8b01f80-07a3-4a7b-91a7-f5656801107dfileName">Unassigned-direct-attempt-submission-history-student</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="Unassigned direct attempt submission history student.json">
    <con:part>
      <con:url>Unassigned direct attempt submission history student.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"Unassigned direct attempt submission history student","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/api/gradebook-process-management/v1/submissionHistory/student/{userid}":{"get":{"responses":{"default":{"description":"Default response"}}},"parameters":[{"name":"userid","in":"path","required":true,"style":"simple","explode":false},{"name":"isAssigned","in":"query","required":false,"style":"form","explode":true},{"name":"classId","in":"query","required":false,"style":"form","explode":true},{"name":"collectionId","in":"query","required":false,"style":"form","explode":true},{"name":"assetId","in":"query","required":false,"style":"form","explode":true}]}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="6ce173f5-e51c-4b7f-9575-82621bb74596">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
