<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config" xsi:type="con:RestService" id="fdb3ca6b-9a4c-45eb-9702-7e9f747be3d3" name="Get Unassigned Assests Submission History" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification">
  <con:settings id="4173b7ef-cca9-4f0c-9efc-184cc694bbf3">
    <con:setting id="fdb3ca6b-9a4c-45eb-9702-7e9f747be3d3fileName">Get-Unassigned-Assests-Submission-History</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="Get Unassigned Assests Submission History.json">
    <con:part>
      <con:url>Get Unassigned Assests Submission History.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"Get Unassigned Assests Submission History","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/api/gradebook-process-management/v1/submissionHistory/student/{StudentId}":{"description":"","get":{"description":"","parameters":[{"name":"isAssigned","in":"query","required":true,"schema":{"type":"string"}},{"name":"classId","in":"query","required":true,"schema":{"type":"string"}},{"name":"assetId","in":"query","required":true,"schema":{"type":"string"}},{"name":"activityId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Default response"}}},"parameters":[{"name":"StudentId","in":"path","required":true}]}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="6ce173f5-e51c-4b7f-9575-82621bb74596">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
